.theme-snap {
    #mr-nav #snap-pm-trigger.snap-my-courses-menu {
        border-radius: var(--border-btn-radius);
    }
    #snap-course-wrapper:not(.toggled) {
        > .col-lg-3 {
            max-width: 500px;
        }
    }
    .course-content {
        padding: 0;
        ul.sections {
            padding: 0 3rem;
        }
    }
    .snap-sidebar-menu.show {
        background-color: var(--brand-primary);
    }
    #mr-nav #snap-custom-menu-header nav.navbar {
        background-color: var(--brand-primary) !important;
        li.nav-item a {
            color: #fff !important;
            &:hover {
                color: #fff !important;
            }
        }
    }
}
