.theme-snap {
    #mr-nav #snap-pm-trigger.snap-my-courses-menu {
        border-radius: var(--border-btn-radius);
    }
    #snap-course-wrapper .col-lg-3 {
        max-width: 500px;
    }
    .theme-snap .course-content ul.section li.snap-activity {
        border: 1px solid var(--box-border-color);
    }
    .course-content {
        ul.sections {
            padding: 0 3rem;
        }
    }
    .snap-sidebar-menu.show {
        background-color: var(--brand-primary);
    }
}
